.owl-carousel .item .item-caption > h1{
	position: absolute;
	/*top: 20%;*/
	left: 5%;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: rgb(0,0,0);
	opacity: 0.5;
	width: 200px;


}
.owl-carousel .item .item-caption p{
	position: absolute;
	top: 24px;
	left: 5%;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: rgb(0,0,0);
	opacity: 0.5;
	width: 200px;


}
.owl-carousel .item .item-caption {
	position: absolute;
	top: 20%;
	left: 5%;
	/*color: white;*/
	font-size: 20px;
	text-align: center;
	/*background-color: rgb(0,0,0);
	opacity: 0.5;
	width: 200px;
	height: 400px;*/


}



.owl-carousel .owl-nav .owl-next{
	position: absolute;
	top: 45%;
	right: 10px;
	font-size: 20px;
}
.owl-carousel .owl-nav .owl-prev{
	position: absolute;
	top: 45%;
	left: 10px;
	font-size: 20px;
}
.owl-carousel .owl-dots{
	position: absolute;
	bottom: 10px;
}